<div class="input-group my-4">
    <li class="form-control" style="color:yellow;font-size:large;background:transparent">{{id}}. {{name}} </li>
    {{#if devour}}
    <button class="change-devour btn btn-success  ml-3" data-id="{{id}}" data-newdevour="{{devour}}">
        DEVOUR IT!
    </button>

    {{else}}
    <button class="delete-burger btn btn-success   ml-3" data-id="{{this.id}}">DELETE!</button>
    {{/if}}

</div>